.name {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;

}

.card {
  height: 100%;
  width: 100%
}



textarea {

  width: 100%;
  height: 500px;
  margin: auto auto
}



h5 {

  cursor: pointer;
}

h5:hover {
  text-emphasis-style: bold;
}
