<div class="loginbox">
  <h1>Sign Up Here</h1>
  <form [formGroup]="signupForm">
    <p>Email</p>
    <input
      type="email"
      name=""
      placeholder="Enter Email"
      formControlName="email"
    />
    <p>Username</p>
    <input
      type="text"
      name=""
      placeholder="Enter Username"
      formControlName="username"
    />
    <p>Password</p>
    <input
      type="password"
      name=""
      placeholder="Enter Password"
      formControlName="password"
    />

    <p>Re-type Password</p>
    <input
      type="password"
      name=""
      placeholder="Enter Password Again"
      formControlName="password_again"
    />
    <input type="submit" name="" value="Login" (click)="signUp()" />

    <a (click)="navigateTo('login')">Already have an account?</a>
  </form>
</div>
